[Service]
ExecStart=
ExecStart=/usr/bin/docker daemon -H fd:// -D --storage-driver=devicemapper --storage-opt=dm.thinpooldev=/dev/mapper/docker-thinpool --storage-opt=dm.use_deferred_removal=true --tls=true --tlscert=/var/docker/certs/servercert.pem --tlskey=/var/docker/certs/serverkey.pem --tlscacert=/var/docker/certs/ca.pem -H tcp://0.0.0.0:2376 --cluster-store {{discovery_fqdn}} --cluster-advertise {{ansible_default_ipv4.interface}}:2376